$padding: 32px;

:host {
  display: grid;
  grid-template-areas: 'bracket matches';
  // temporary
  grid-template-columns: 3fr 1fr;
  gap: 16px;
  padding: $padding;
  height: calc(100% - 2 * #{$padding});
  width: calc(100% - 2 * #{$padding});
}

.bracket {
  grid-area: bracket;
  display: block;
  overflow-x: auto;
}

.matches {
  grid-area: matches;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
}
