:host {
  display: block;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  height: 100%;
  gap: 1rem;

  &.with-tournaments {
    grid-template-areas:
      'tournament'
      'bracket';
    grid-template-rows: auto 1fr;
  }

  &.without-tournaments {
    grid-template-rows: 1fr;
  }
}

app-dashboard-tournament-info {
  grid-area: tournament;
}

app-dashboard-bracket {
  grid-area: bracket;
  align-self: center;
}

.no-results {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 749.98px) {
  :host {
    grid-template-areas:
      'tournament'
      'matches'
      'bracket';
    align-items: center;
    gap: 0;
    row-gap: 1rem;
  }

  app-matches-column ::ng-deep {
    app-upcoming-match,
    app-result-match {
      align-self: center;
    }
  }
}
