:host {
  display: block;
}

h1 {
  display: inline-flex;
  width: 200px;
  border-bottom: 1px var(--secondary-color) solid;
  margin: 0;
  text-transform: uppercase;
  color: var(--secondary-color);
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 1.2rem;
}
