:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--third-color);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-icon {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--secondary-color);
    margin-right: 0.6rem;
  }
}

.action {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
}
