:host {
  display: flex;
  flex-direction: row;
  width: 10.5rem;
  height: 2.5rem;

  &.loser {
    opacity: 0.4;

    .score {
      background-color: gray;
    }
  }
}

.name {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  padding: 0 1rem;
  align-items: center;
  background-color: var(--label-background);
  color: var(--text);
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  width: 2.5rem;
  color: white;
  font-weight: 300;
}
