select {
  font-size: 1.1rem;
  width: 100%;
  font-family: inherit;
  background-color: transparent;
  color: var(--text);
  border-radius: 2px;
  font-weight: 200;
  border: none;
  margin: 1rem 0;

  &:focus {
    outline: none;
  }

  option {
    font-weight: 300;
    background-color: var(--third-color);

    &:checked {
      background-color: var(--secondary-color);
    }
  }
}
