:host {
  display: grid;
  grid-template-areas:
    'header'
    'main';
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(
      var(--primary-background-color),
      20%,
      var(--primary-color)
    ),
    url('/assets/images/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

app-nav-menu {
  grid-area: header;
}

.main {
  grid-area: main;
  display: grid;
  padding: 2rem;
  gap: 4rem;
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  grid-template-areas: 'content matches';
  grid-template-columns: 1fr auto;
  overflow-y: auto;

  @media (max-width: 749.98px) {
    grid-template-areas: 'content';
    grid-template-columns: 1fr;
  }
}

.content {
  grid-area: content;
  overflow: hidden;
  height: inherit;
}

app-matches-column {
  grid-area: matches;
}

@media (max-width: 749.98px) {
  .content {
    overflow: visible;
  }
}
