:host {
  display: flex;
  flex-direction: row;
  margin: 0.4rem 0;
}

app-team-block {
  ::ng-deep {
    .name {
      justify-content: center;
    }
  }
}

.second-team {
  flex-direction: row-reverse;
}
