:host {
  position: sticky;
  width: 100%;
  z-index: 10;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100%;
}

mat-sidenav-content {
  overflow: hidden;
}

mat-toolbar {
  display: flex;
  background: inherit;
  padding: 0;

  &.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 3.25rem;
    background-color: var(--header-background);
    border-bottom: 1px var(--secondary-color) solid;
  }

  a {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.05rem;
    font-weight: 300;
    color: var(--text);
    text-transform: uppercase;
    text-decoration: none;

    &.active {
      background-color: var(--secondary-color);
    }

    &:hover:not(.active) {
      background-color: var(--label-background);
    }
  }

  .logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 2rem;

    .text {
      color: var(--text);
      font-size: 1.15rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
    }

    img {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.6rem;
    }
  }
}

.menu-button {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 2rem;

  ::ng-deep .mat-button-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }
}
