:host {
  position: sticky;
  width: 100%;
  z-index: 10;
}

mat-sidenav-container {
  height: 100%;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);

  &.active {
    background-color: var(--secondary-color);
  }

  &:hover:not(.active) {
    background-color: var(--label-background);
  }
}

mat-sidenav {
  width: 40%;
  background-color: var(--header-background);
  border-right: 1px solid var(--secondary-color);

  ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;

    a {
      font-size: 2rem;
      padding: 1rem;
    }
  }

  .sidenav-logo {
    padding: 5rem 0;
    width: 50%;
    align-self: center;
  }

  .sidenav-btn-close {
    margin-top: 4rem;
    align-self: center;

    mat-icon {
      font-size: 2rem;
      color: var(--secondary-color);
    }
  }
}

mat-sidenav-content {
  overflow: hidden;
}

mat-toolbar {
  display: flex;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 3.25rem;
  background-color: var(--header-background);
  border-bottom: 1px var(--secondary-color) solid;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.05rem;
    font-weight: 300;
  }

  .toolbar-logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 0 2rem;

    .text {
      font-size: 1.15rem;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: normal;
    }

    img {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 0.6rem;
    }
  }
}

.btn-menu {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 2rem;

  ::ng-deep .mat-button-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  mat-icon {
    color: var(--text);
  }
}
