// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  html {
    font-size: 8pt;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 749.98px) {
  html {
    font-size: 9pt;
  }
}

// Medium devices (tablets, 750px and up)
@media (min-width: 750px) and (max-width: 991.98px) {
  html {
    font-size: 10pt;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 11pt;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  html {
    font-size: 12pt;
  }
}
