:root {
  --primary-color: rgb(29, 38, 51);
  --primary-background-color: rgba(29, 38, 51, 0.55);
  --secondary-color: rgb(255, 113, 91);
  --secondary-color-90: rgba(255, 113, 91, 0.9);
  --header-background: rgb(21, 28, 38);
  --label-background: rgba(255, 255, 255, 0.1);
  --text: rgba(255, 255, 255, 0.85);
}
