:root {
  --primary-color: rgb(29, 38, 51);
  --primary-background-color: rgba(29, 38, 51, 0.55);
  --secondary-color: #ff715b;
  --header-background: rgb(17, 19, 26);
  --label-background: rgba(255, 255, 255, 0.1);
  --text: rgba(255, 255, 255, 0.85);
}
